---
layout: default
---

<div class="home">

  <h1 class="page-heading" align="center">The Life and Times of an Average Graduate Student</h1>
  
  {{ content }}

<html>
<head>
  <title>Cols</title>
  <style>
    #left {
      width: 360px;
      float: left;	
    }
    #right {
      margin-left: 370px;
    }
    .clear {
      clear: both;
    }
  </style>
</head>

<body>
  <div id="container">
    <div id="left">
	<p align="justify">Welcome dear reader, as you may have noticed I'm
	Henno. On the right you can see me running in the beautiful woods of
	Finland. Apart from running, what could considered an unhealthy
	amount, I study the atmosphere and the interesting processes in it and
	I'm particurarly fascinated by severe weather and the impact it has on
	socioeconomics. My studies have allowed me access to some cool
	technological stuff, this has led me to become a avid GNU\Linux user
	and I've started learning some programming languages, while not an
	expert by any means, I do have an inquisitive nature and maybe a little
	OCD, which helps. My interests spread beyond these things obviously. I
	don't question your motives for being here. If you're a spy agency feel
	free to contact me personally, if you just Googled me, you can find
	some topics here to bring up during a conversation when we have time and finally if
	you're planning to hire me and ended up here, then I hope you like what
	you see and hire me.<p> 

	<p align="justify">This blog was created in the hope to my share data,
	code, knowledge (or lack thereof) and get critiqued in the process. I
	might post some personal viewpoints here, don't take me too seriously.
	I'm a nice guy in real life, I like beer and puppies. <p> 

	<p align="justify"><strong><i>All photos are my own unless otherwise stated.</i></strong><p>
	
        <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    </div>

    <div id="right">
      <img src="assets/images/running/finland.jpeg" vspace="1">
      <img src="assets/images/weather/cumulonimbus.jpg" vspace="1">
    </div>
  </div>
</body>

</html>
</div>
